*{
    color: pink;
    background-color: cyan;
}
#signup{
    background-color: blue;
    color: white;
}
.tag{
    color: aqua;
    background-color: red;
    font-size: 16px;
}
.post a{
    color: blue;
}
h2 +button{
font-size: 10px;
}
footer>a{
    color: black;
}