*{
    color: pink;
    background-color: cyan;
}
#signup{
    background-color: blue;
    color: white;
}
.tag{
    color: aqua;
    background-color: red;
    font-size: 16px;
}
h1{
    color: blue;
}
.post a{
    color: blue;
}
h2 +button{
font-size: 10px;
}
footer>a{
    color: black;
}
input[type="password"]{
    background-color: black;
}
.post button:hover{
    background-color: darkred;
    color: skyblue;
}
button:active{
    background-color: green;
}
.post:nth-of-type(2){
    background-color: blue
}
h2::first-letter{
    font-size: 70px;
}
::selection{
    background-color: yellow;
}
/* order matter */
h1{
    color: yellow;
}