<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product Entry!</title>
</head>
<body>
    <h1>Add a Product</h1>
    <form action="/farms/<%=id%>/products" method="post"id="">
        <label for="name">Name of Product:</label>
        <input type="text" name="name" placeholder="Name of Product"id="name">
        <label for="price">Price:</label>
        <input type="number" name="price" placeholder="Price" id="price">
        <label for="category">Category:</label>
        <select name="category" id="">
            <% for(let category of categories) {%>
                <option value="<%=category%>"><%=category%></option>
            <% } %>  
        </select>
        <button>Add the Product</button>
    </form>
</body>
</html>