<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Farm!</title>
</head>

<body>
    <h1>Add a Farm</h1>
    <form action="/farms" method="post" id="">
        <div>
            <label for="name">Name of Farm:</label>
            <input type="text" name="name" placeholder="Name of Product" id="name">
        </div>
        <div>
            <label for="city">City:</label>
            <input type="text" name="city" placeholder="Farm's City" id="city">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="Email" id="email">
        </div>
        <button>Add the Farm</button>
    </form>
</body>

</html>