body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}
nav {
    font-size: 1.5em;
}

ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}
@media(max-width:1500px){
    h1{
        color: orange;
    }
}
@media (min-width:600px) and (max-width:800px){
    h1{
        color: purple;
}
}
@media(max-width:100px){
    h1{
        color: red;
    }
}
@media (orientation:landscap){
    h1 {
        color: blue;
    }
}


